.button {
  display: flex;
  gap: 0.5rem;
  padding: 0 18px;
  height: 2.3rem;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
}

.button:hover {
  background-color: #f4f4f5;
}
